@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: 'Roboto' , sans-serif;
    height: 100%;
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}




h2,h3,h4,h5,h6,p {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

li {
    text-transform: uppercase;
}

nav {
     
    background-color: #ffffff;
    height: 60px;   
    padding-left: 0;
    padding-right: 0;
    
}
.navbar {
    border-bottom: 2px solid #fafafa;
   
    
}
.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand   {
    color: #242120;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
}

.navbar .navbar-brand:hover  {
   text-decoration: underline;
 
  
}
.navbar .nav-item a {
    color: #242120 !important;
}

.navbar .nav-item a:hover {
    color: white !important;
  background-color: black;
  border-radius: 3px; 
}


/*--------------------------Intro--------------------------*/




  

  .container-intro {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
     
      }

  /*--    position: relative;  --*/
      
  

 /* .intro-text {
    position: absolute;
    
    top: 5%;
    left:5%;  
    height: 0;
    width: 30%;
    z-index: 10;
}

  .intro-text h1{
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}
*/


  


/*--------------------------/Intro--------------------------*/
  .container-work {
      background-color: darkorange;
      color: white;

  }

  .container-about {

  }

  .container-contact {

  }
  
  .content-container {

      padding: 75px 0;
  }

  .nav-link i {

      font-size: 30px;
  }